<h2 style="color:pink">-------------------------------------------------------------------------------------------------------------------------------------</h2>
<h1 style="color:blue">SQL Queries </h1>

<h1 style="color:blue">DDL( Data Definition Language ) </h1>

<h2 style="color:pink">-------------------------------------------------------------------------------------------------------------------------------------</h2>

<h2 style="color:pink">-------------------------------------------------------------------------------------------------------------------------------------</h2>

##### below command is used to create the database if that not exist before <br>
<p style="color:green"> CREATE DATABASE IF NOT EXISTS dbname </p> <br>
 ----------------------or--------------------------<br>
<p style="color:green"> CREATE DATABASE dbname </p>

<h2 style="color:pink">-------------------------------------------------------------------------------------------------------------------------------------</h2>

<h2 style="color:pink">-------------------------------------------------------------------------------------------------------------------------------------</h2>

##### To drop any database completly we can use below Query(there is no any query to drop multiple databases using single query -- to drop multiple we need to make our custom SQL function )

<p style="color:green">  DROP DATABASE dbname  </p><br>
<h2 style="color:pink">-------------------------------------------------------------------------------------------------------------------------------------</h2>

<h2 style="color:pink">-------------------------------------------------------------------------------------------------------------------------------------</h2>

#### Create tables in database 
<p style="color:green">  
CREATE TABLE IF NOT EXISTS dbname( <br>
    <code>    </code> id integer,<br>
    <code>    </code> name varchar(255),<br>
    <code>    </code> email varchar(255),<br>
    <code>    </code> password varchar(255)<br>
)
</p>
<h2 style="color:pink">-------------------------------------------------------------------------------------------------------------------------------------</h2>

<h2 style="color:pink">-------------------------------------------------------------------------------------------------------------------------------------</h2>

##### Droping users table <br>
<p style="color:green">  DROP TABLES users </p>

##### Truncate/ Empty the tables values query <br>
<p style="color:green">  TRUNCATE TABLE users </p>
<h2 style="color:pink">-------------------------------------------------------------------------------------------------------------------------------------</h2>

<h2 style="color:pink">-------------------------------------------------------------------------------------------------------------------------------------</h2>

### Constraints :

##### 1] NOT NULL

<p style="color:green"> 
CREATE TABLE person(<br>
<code>    </code> id integer NOT NULL ,<br>
<code>    </code> name varchar(255)<br>
)
 </p>

##### 2] UNIQUE

<p style="color:green"> 
CREATE TABLE person(<br>
<code>    </code> id integer NOT NULL ,<br>
<code>    </code> name varchar(255)<br>
<code>    </code> email varchar(255) UNIQUE <br>
)
</p>

--------------------------------------or----------------------------------------<br>
<p style="color:green"> 
CREATE TABLE person(<br>
<code>    </code> id integer NOT NULL ,<br>
<code>    </code> name varchar(255)<br>
<code>    </code> email varchar(255)<br>
<code>    </code> UNIQUE(email)
)
</p>

##### 3] Primary Key


<p style="color:green"> 
CREATE TABLE person(<br>
<code>    </code> id integer NOT NULL ,<br>
<code>    </code> name varchar(255),<br>
<code>    </code> email varchar(255),<br>
<code>    </code> CONSTRAINT U_email UNIQUE(email), <br>
<code>    </code> PRIMARY KEY(id , email)  --Here in this line we are setting composite key(mixture of two or more columns  <br> 
)
</p>

##### 4] Primary Key

<p style="color:green"> 
CREATE TABLE person(<br>
<code>    </code> id integer NOT NULL ,<br>
<code>    </code> name varchar(255),<br>
<code>    </code> email varchar(255),<br>
<code>    </code> PRIMARY KEY (order_id), <br>
<code>    </code> FOREIGN KEY(user_id) REFERENCES users(id) <code>               </code>            --reference is basically parent table primary key name   <br> 
)
</p>

<b> 5] CHECK </b>

<p style="color:green"> 
CREATE TABLE person(<br>
<code>    </code> id integer NOT NULL ,<br>
<code>    </code> name varchar(255),<br>
<code>    </code> email varchar(255),<br>
<code>    </code> PRIMARY KEY (order_id), <br>
<code>    </code> age integer CHECK(age>6 AND age<25)<br>
)
</p>

##### 6] DEFAULT :

<p style="color:green"> 
CREATE TABLE Student(
<code>    </code> sid integer NOT NULL ,<br>
<code>    </code> name varchar(255),<br>
<code>    </code> gender varchar(255) DEFAULT "Others"<br>
)
</p>

##### 7] AUTO_INCREMENT

<p style="color:green"> 
CREATE TABLE passenger(<br>
<code>    </code> id integer PRIMARY KEY AUTO_INCREMENT ,<br>
<code>    </code> name varchar(255) NOT NULL<br>
)
</p>
<h2 style="color:pink">-------------------------------------------------------------------------------------------------------------------------------------</h2>

<h2 style="color:pink">-------------------------------------------------------------------------------------------------------------------------------------</h2>

### DDL Alter table command

#### 8] ALTER TABLE

##### a] Add column <br>
<p style="color:green">  ALTER TABLE Student ADD COLUMN college varchar(255) NOT NULL </p>

##### b] Remove/Drop Column<br>
<p style="color:green">  ALTER TABLE Student DROP COLUMN age </p>

##### c] Modifying column(changing datatype)<br>
<p style="color:green">  ALTER TABLE Students MODIFY COLUMN sname integer </p>

##### d] Add & Remove Constraints<br>
<p style="color:green">  ALTER TABLE Students DROP CONSTRAINT U_email </p>

<h2 style="color:pink">-------------------------------------------------------------------------------------------------------------------------------------</h2>