# DML ( Data Manipulation Language )

1] INSERT 

INSERT INTO Students(Sid , Sname , email ,college) VALUES (1 , "Gaurav" , "abc@gmail.com" ,"ABC")

If you are giving values to all column then you don't have to write all columns name 

INSERT INTO Students VALUES(6 ,"Rahul" ,"xyz@gmail.com", "XYZ")

Inserting multiple item or data using single query

INSERT INTO Students VALUES (6 ,"Rahul" ,"xyz@gmail.com", "XYZ"),<br>
<code>                         </code> (1 , "Gaurav" , "abc@gmail.com" ,"ABC"),<br>
<code>                         </code> (1 , "Hrishi" , "pqr@gmail.com" ,"pqr")<br>
)

ORDER OF QUERY EXUCATION

# F<code>    </code>J<code>    </code>W<code>     </code>G<code>      </code>H<code>    </code>S<code>     </code>D<code>      </code>O
#### FROM<code>    </code>JOIN<code>    </code>WHERE<code>    </code>GROUP BY<code>    </code>HAVING<code>    </code>SELECT<code>    </code>DISTINCT<code>    </code>ORDER BY

2] RETRIEVE

a] Fetching all columns from a dataset

SELECT * FROM dbname

b] Filter Columns <br>
we onkly want passenger name , gender & Survived or not from downloaded titanic dataset
 
SELECT Name , sex , survived  FROM table_name

c] Remaining the column name (Alias AS )

SELECT Name AS PassengerName , sex AS Gender , Survived FROM table_name

d] Expression - 

Merging or adding two columns

SELECT Name , sibsp+parch AS Family FROM table_name

Doing arithmatic opertions

SELECT Name , Age+102 AS CurrenctAge FROM table_name

e] constant
Adding compensation column which contain value "1000000" in each row 

SELECT =Name ,1000000 AS Comprensation FROM table_name

f] DISTINCT <br>
Finding unique values in a column ( below command give unique values present in an gender column

SELECT DISTINCT gender FROM table_name

SELECT DISTINCT Pclass FROM table_name

Below command used to find the unique values in multiple columns 

SELECT DISTINCT Pclass, Embarked , FROM table_name


G] Comparison Operator 

SELECT * FROM table_name WHERE Survived=0<br>
SELECT * FROM table_name WHERE Pclass=0<br>
SELECT * FROM table_name WHERE Age>50


H] AND Operator & OR operator 

SELECT * FROM SELECT * table_name WHERE Pclass=3 AND Survived=0<br>
SELECT * FROM SELECT * table_name WHERE Pclass=4 OR Survived=1<br>


I] BETWEEN Opertor 

SELECT * FROM table_name WHERE Age BETWEEN 10 AND 15

j] IN/NOT IN

here in the below command we can filter and get the movies having desired genre but we need to add multiple conditional statements in order to filter the data 
SELECT title FROM movies WHERE genre LIKE 'comedy' OR genre LIKE 'Action'

To replace the repetative work we can use IN or NOT IN method/statements 
SELECT title, genre FROM movies WHERE genre IN ("Action","Horror" ,"Drama")

SELECT title, genre FROM movies WHERE genre NOT IN ("Action","Horror" ,"Drama")


k] Wild Cards 
Wild cards are characters which you can use to search in a string

Below code is used to search the string starting from letter A
SELECT title FROM movies WHERE title LIKE 'A%'

Below code is used to search man in a string 
SELECT title FROM movie WHERE title LIKE '%man%'


Below code is used to search the string ending from letter A
SELECT title FROM movie WHERE title LIKE '%a'


SELECT title actor FROM movies WHERE Actor LIKE "%Khan% or Actor LIKE "%Kapoor%"


( _ ):
This below command will find the name of movies having 5 Charachter length
SELECT title FROM movies WHERE title LIKE '_ _ _ _ _ '

3] UPDATE :
Name columns now fill with rahul word
UPDATE passenger SET name='Rahul'

Replacing Uday word with gmail 
UPDATE passanger SET name='Uday" WHERE email LIKE '%gmail%'

Updating Multiple things 
UPDATE passanger SET name='Ankit' , email="abc@gmail.com' WHERE email LIKE '%yahoo%'

4] DELETE 

DELETE FROM Passenger WHERE id=1

DELETE FROM Passenger WHERE id>2 AND email LIKE '%yahoo'